body {
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
}

h1 { 
    font-family: 'lato', sans-serif; 
    font-weight: 100; 
}

#map{ 
    height: 800px ;
    width: 100%;
}

.info { 
    padding: 6px 8px; 
    font: 14px/16px Arial, Helvetica, sans-serif; 
    background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px; } 
.info h4 { 
    margin: 0 0 5px; 
    color: #777; }
.legend { 
    text-align: left; 
    line-height: 18px; 
    color: #555; } 
.legend i { 
    width: 18px; 
    height: 18px; 
    float: left; 
    margin-right: 8px; 
    opacity: 0.7; 
}


#go{
    height: 800px ;
    width: 100%;
    background-color: #D2C8AF;
    
}
        
.custom-popup .leaflet-popup-content-wrapper {
  background:gray;
  color:#fff;
  font-size:16px;
  line-height:50px;
  border-radius: 0px;
  width: 300px;    
  }
.custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.1);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
  }

